# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/.next
/out
/build
.vercel

# Testing
/coverage

# Environment variables
.env*.local

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
